@media (min-width: 930px) {
  .containerMobile {
    display: none;
    align-items:left
  }
}

@media (max-width: 930px) {
  .containerDesktop {
    display: none;
  }
}

.cropped {
    width: 300px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}
